{% extends 'user/user_model.html' %}

{% block context %}
<div id="memberArea">
	<div class="col-left col-1 left-memu">
        	<h5 class="title"><img src="/static/img/user/m_1.png" width="15" height="15" /> 账号管理</h5>
            <ul>
                <li><a href="/user/info"><img src="/static/img/user/user_edit.png" width="16" /> 修改个人信息</a></li>
                <li><a href="/user/avatar"><img src="/static/img/user/vcard.png" width="16" /> 修改头像</a></li>
                <li><a href="/user/email_passwd"><img src="/static/img/user/icon_key.gif" width="16" height="16" /> 修改邮箱/密码</a></li>
                <li><a href="/user/phone"><img src="/static/img/user/mobile_phone.png" /> 更换手机</a></li>
                <li><a href="/user/company"><img src="/static/img/user/user_edit.png" /> 修改公司信息</a></li>
            </ul>
        <span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
    </div>
    <div class="col-auto">
        <div class="col-1 ">
            <h5 class="title">个人信息：</h5>
            <div class="content">
                <div class="col-1 member-info">
                    <div class="content">
                        <div class="col-left himg">
                            <a title="修改头像" href="/user/avatar"><img src="/90x90.jpg" width="60" height="60" onerror="this.src='/static/img/user/nophoto.gif'"></a>
                        </div>
                        <div class="col-auto">
                            <h5>
                                <font color="">
                                     杜若飞                                 </font>
                                （<a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="5632232423396e6366163e2f222c7835393b">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script>）
                            </h5>
                            <p class="blue">
                                业务单数：<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">0</font> ，
                                完成单数：<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">0</font>。
                            </p>
                        </div>
                    </div>
                </div>

                <div class="bk10"></div>
                <div class="col-1 ">
                    <h5 class="title">详细信息：</h5>
                    <div class="content">
                        <table width="100%" cellspacing="0" class="table_form">
                            <tr>
                                <th width="120">用户名</th>
                                <td>duruo850</td>
                            </tr>
                            <tr>
                                <th width="120">所属模型：</th>
                                <td>业务经理</td>
                            </tr>
                            <tr>
                                <th width="120">注册时间：</th>
                                <td>2016-03-01 16:49:49</td>
                            </tr>
                            <tr>
                                <th width="120">最后登录：</th>
                                <td>2016-03-04 09:49:59</td>
                            </tr>
                            <tr>
                                <th width="120">注册ip：</th>
                                <td>121.204.245.87</td>
                            </tr>
                            <tr>
                                <th width="120">上次登录ip：</th>
                                <td>220.160.146.42</td>
                            </tr>
                            <tr>
                                <th width="120">手机号码：</th>
                                <td style="color:#ff6600;"><strong>186****4568</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="更换手机" class="button" onclick="redirect('?m=manager&c=index&a=member_mobile&t=1')"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}