<div id="header">
	<div class="logo"><a href="/"><img border="0" src="/static/img/util/logo1.jpg"></a><h3>会员中心</h3></div>
    <div class="link">您好，{{UserName}}<span> | </span>
	<a href="/logout">退出</a>
	<span> | </span><a href="/">首页</a>
    </div>
	<div class="nav-bar">
    	<map>
        	<ul class="nav-site cu-span">
                {% for nav_dic in MainNavBarLs %}
                {% if CurMainNavBarUrl == nav_dic.url %}
                    <li><a href="{{nav_dic.url}}" class="on"><span>{{nav_dic.des}}</span></a></li>
                {% else %}
                    <li ><a href="{{nav_dic.url}}"><span>{{nav_dic.des}}</span></a></li>
                {% endif %}
                <li class="line">|</li>
            {% endfor %}
            </ul>
        </map>
    </div>
</div>