
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>宏圆投资 - 会员管理中心</title>
<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/member.css" rel="stylesheet" type="text/css" />
<link href="/static/css/table_form.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/js/member_common.js"></script>
<style>
body{background:#fff !important;}
.logo{height:100px !important;background:#fff !important;}
</style>
</head>

<body>
<div id="header">
	<div class="logo"><a href="/"><img border="0" src="/static/img/util/logo1.jpg"></a><h3>会员中心</h3></div>
    <div class="link">您好，杜若飞<span> | </span>
	<a href="/logout">退出</a>
	<span> | </span><a href="http://www.hytz.com/">首页</a>
    </div>
	<div class="nav-bar">
    	<map>
        	<ul class="nav-site cu-span">
				<li>
					<a href="/user/busimgr" ><span>业务管理</span></a>
				</li>
				<li class="line">|</li>
                <li>
                    <a href="/user/data" class="on"><span>个人资料</span></a>
                </li>
                <li class="line">|</li>
                <li>
                    <a href="/user/qqmail" ><span>公司邮箱</span></a>
                </li>
                <li class="line">|</li>
                <li>
                    <a href="/usr/notice" ><span>网站公告</span></a>
                </li>
                <li class="line">|</li>
            </ul>
        </map>
    </div>
</div><div id="memberArea">
	<div class="col-left col-1 left-memu">
        	<h5 class="title">账号管理</h5>
            <ul>
                <li><a href="/user/info"><img src="/static/img/user/user_edit.png" width="16" /> 修改个人信息</a></li>
                <li><a href="/user/avatar"><img src="/static/img/user/vcard.png" width="16" /> 修改头像</a></li>
                <li><a href="/user/email_passwd"><img src="/static/img/user/icon_key.gif" width="16" height="16" /> 修改邮箱/密码</a></li>
                <li><a href="/user/phone"><img src="/static/img/user/mobile_phone.png" /> 更换手机</a></li>
                <li><a href="/user/company"><img src="/static/img/user/user_edit.png" /> 修改公司信息</a></li>
            </ul>
        <span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
    </div>    <div class="col-auto">
        <div class="col-1 ">
            <h5 class="title">个人信息：</h5>
            <div class="content">
                <div class="col-1 member-info">
                    <div class="content">
                        <div class="col-left himg">
                            <a title="修改头像" href="/user/avatar"><img src="/90x90.jpg" width="60" height="60" onerror="this.src='/static/img/user/nophoto.gif'"></a>
                        </div>
                        <div class="col-auto">
                            <h5>
                                <font color="">
                                     杜若飞                                 </font>
                                （<a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="5632232423396e6366163e2f222c7835393b">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script>）
                            </h5>
                            <p class="blue">
                                业务单数：<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">0</font> ，
                                完成单数：<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">0</font>。
                            </p>
                        </div>
                    </div>
                </div>

                <div class="bk10"></div>
                <div class="col-1 ">
                    <h5 class="title">详细信息：</h5>
                    <div class="content">
                        <table width="100%" cellspacing="0" class="table_form">
                            <tr>
                                <th width="120">用户名</th>
                                <td>duruo850</td>
                            </tr>
                            <tr>
                                <th width="120">所属模型：</th>
                                <td>业务经理</td>
                            </tr>
                            <tr>
                                <th width="120">注册时间：</th>
                                <td>2016-03-01 16:49:49</td>
                            </tr>
                            <tr>
                                <th width="120">最后登录：</th>
                                <td>2016-03-04 09:49:59</td>
                            </tr>
                            <tr>
                                <th width="120">注册ip：</th>
                                <td>121.204.245.87</td>
                            </tr>
                            <tr>
                                <th width="120">上次登录ip：</th>
                                <td>220.160.146.42</td>
                            </tr>
                            <tr>
                                <th width="120">手机号码：</th>
                                <td style="color:#ff6600;"><strong>186****4568</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="更换手机" class="button" onclick="redirect('?m=manager&c=index&a=member_mobile&t=1')"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
<div id="footer">
<a href="/about" target="_blank">关于我们</a> |
<a href="/contact" target="_blank">联系我们</a> |
<a href="/xxxx" target="_blank">商务合作</a> |
<a href="/xxxxx" target="_blank">招贤纳士</a> |
<a href="/xxxxx" target="_blank">友情链接</a>

<p class="cp">Powered by <strong>宏圆贷款</strong> &copy; 2016 <img src="/static/img/util/copyright.gif"/>
</p>
</div>
</div>
</body>
</html>