<div id="service_div">
    <div class="title_service_div">合作机构</div>
    <div class="bor" style="height:90px;">
        <ul style="width:960px;hegith:auto;">
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://bank.pingan.com/" title="平安银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/erji/hao123/webroot/resource/erji/public/images/pinganyinhang_xin.jpg" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cmbc.com.cn/" title="中国民生银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95568.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cebbank.com/" title="中国光大银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95595.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cgbchina.com.cn/" title="广发银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95508.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cib.com.cn/" title="兴业银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95561.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://bank.ecitic.com/" title="中兴银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95558.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;float:left;display:block;"><a href="http://www.psbc.com/" title="中国邮政储蓄银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95580.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.spdb.com.cn/" title="浦发银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95528.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cmbchina.com/" title="招商银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95555.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.abchina.com/cn/" title="中国农业银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95599.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.bankcomm.com/" title="交通银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95559.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.boc.cn/" title="中国银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95566.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.ccb.com/" title="中国建设银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95533.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;float:left;display:block;"><a href="http://www.hxb.com.cn/" title="华夏银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95577.png" width="120" height="40" /></a></li>
        </ul>
    </div>
</div>
<table width="100%" cellspacing="0" border="0" align="center" style="margin-top:20px;">
  <tbody>
  <tr>
    <td style="border-top:solid 2px #FF6600; padding-top:14px;padding-bottom:14px;">
        <table width="900" cellspacing="0" border="0" align="center">
            <tbody>
              <tr>
                <td width="115"><img width="104" height="100" src="http://www.hytz.com/uploadfile/2015/0513/20150513102946631.jpg"></td>
                <td width="709" style="line-height:28px; font-size:12px;">
                    宏圆投资 —银行指定合作渠道，福建权威专业贷款服务机构。 <br>
                    快速办理厦门、福州各大银行、抵押贷、信用贷、企业贷、车位贷。 <br>
                    版权所有 © 宏圆投资 HYTZ.COM 闽ICP备150228855  <br>
                    <a href="http://www.hytz.com/admin.php">后台管理</a>  客服邮箱 网站制作与维护：<a href="">JAY</a>
                </td>
                <td width="70"><a href="#"><img width="141" height="56" border="0" src="http://www.hytz.com/statics/images/hy/anquan.jpg"></a></td>
              </tr>
            </tbody>
        </table>
    </td>
  </tr>
  </tbody>
</table>