<table width="100%" border="0" cellspacing="0" class="top">
  <tr>
    <td height="30"><table width="980" border="0" align="center" cellspacing="0">
      <tr>
        <td align="left"> <a href="http://www.hytz.com/index.php?m=manager&c=index&a=login&forward=&siteid=1">信贷经理登录</a> | <a href="http://www.hytz.com/index.php?m=manager&c=index&a=register&siteid=1" target="_blank">信贷经理注册</a> </td>
        <td align="right"><a href="http://exmail.qq.com/cgi-bin/loginpage?t=logindomain&s=logout&f=biz&param=@hytz.com">宏圆邮箱</a> |<a href="http://www.hytz.com/download.php">APP下载</a> | <a onclick="window.external.addFavorite(location.href,document.title)" href="#ecms">加入收藏</a> | <a href="javascript:void(0)" onclick="SetHome(this,window.location)">设为首页</a> | <a href="http://www.hytz.com/">网站首页</a></td>
      </tr>
    </table></td>
  </tr>
</table><table width="980" cellspacing="0" border="0" align="center">
  <tbody><tr>
    <td height="90" align="left"><a href="http://www.hytz.com/"><img width="420" height="80" border="0" src="http://www.hytz.com/uploadfile/2015/0513/20150513102635724.jpg"></a></td>
    <td align="right"><span style="font-size:16px;color:#777;">服务热线：</span><span style="font-size:24px;color:#ff8712;font-weight:bold;">15280087277</span></td>
  </tr>
</tbody>
</table>
<table width="100%" cellspacing="0" border="0" class="nav">
  <tbody><tr>
    <td><div class="nav_global">
        <ul class="nav-site">
			<li class="curr"><a href="http://www.hytz.com">首页</a></li>
            <li ><a href="http://www.hytz.com/index.php?m=content&c=index&a=lists&catid=9"><span>贷款攻略</span></a></li>
            <li ><a href="http://www.hytz.com/index.php?m=content&c=index&a=lists&catid=11"><span>贷款案例</span></a></li>
            <li ><a href="http://www.hytz.com/index.php?m=content&c=index&a=lists&catid=12"><span>常见问题</span></a></li>
            <li ><a href="http://www.hytz.com/download.php"><span>APP下载</span></a></li>
            <li ><a href="http://www.hytz.com/index.php?m=content&c=index&a=lists&catid=2"><span>关于宏圆</span></a></li>
            <li ><a href="http://www.hytz.com/index.php?m=manager&c=index&a=login&forward=&siteid=1"><span>经理登录</span></a></li>
        </ul>
    </div></td>
  </tr></tbody>
</table>