{% extends 'base.html' %}

{% block context %}

<div id="kinMaxShow">
	<div>
        <a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=5"  title="房产抵押贷款"><img src="http://www.hytz.com/uploadfile/2015/0525/20150525084521778.jpg"  /></a>
	</div>
	<div>
	    <a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=4"  title=""><img src="http://www.hytz.com/uploadfile/2015/0514/20150514061524787.jpg"  /></a>
	</div>
</div>


<div class="contioner">
    <div id="list_div">
        <div class="list_one list_first"><div class="top_line" style="background:#FF3300"></div><div class="top_con"><div class="title_list_div"><span class="size_big" style="color:#FF3300">房产抵押贷款</span><span class="size_small" style="color:#FF3300"></span></div><div class="title_sub"  style="color:#FF3300">让房产变成提款机</div>	<a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=5" otitle="房产抵押贷款" otype="button" target="_blank"><div class="image" style="margin:5px 20px;"><img src="http://www.hytz.com/uploadfile/2015/0423/20150423103837743.png" /></div></a><div class="btn"><a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=5" otitle="房产抵押贷款" otype="button" target="_blank" class="btn_a"  style="background:#FF3300">立即申请&gt;</a></div></div>	<div class="bottom" style="background:#FF3300"><span class="bottom_font xyd">最高可贷5000万 | 最长可贷10年 | 可用于经营或消费</span></div></div>
        <div class="list_one list_left"><div class="top_line" style="background:#669933"></div><div class="top_con"><div class="title_list_div"><span class="size_big" style="color:#669933">汽车抵押贷款</span><span class="size_small" style="color:#669933"></span></div><div class="title_sub"  style="color:#669933">钱借到，车照开</div>	<a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=4" otitle="汽车抵押贷款" otype="button" target="_blank"><div class="image" style="margin:5px 20px;"><img src="http://www.hytz.com/uploadfile/2015/0423/20150423103900536.png" /></div></a><div class="btn"><a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=4" otitle="汽车抵押贷款" otype="button" target="_blank" class="btn_a"  style="background:#669933">立即申请&gt;</a></div></div>	<div class="bottom" style="background:#669933"><span class="bottom_font xyd">最高可贷50万 | 最长可贷3年 | 可用于经营或消费</span></div></div>
        <div class="list_one list_left"><div class="top_line" style="background:#009966"></div><div class="top_con"><div class="title_list_div"><span class="size_big" style="color:#009966">新一贷无抵押贷款</span><span class="size_small" style="color:#009966"></span></div><div class="title_sub"  style="color:#009966">无需抵押担保，期限长</div>	<a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=3" otitle="新一贷无抵押贷款" otype="button" target="_blank"><div class="image" style="margin:5px 20px;"><img src="http://www.hytz.com/uploadfile/2015/0423/20150423103918718.png" /></div></a><div class="btn"><a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=3" otitle="新一贷无抵押贷款" otype="button" target="_blank" class="btn_a"  style="background:#009966">立即申请&gt;</a></div></div>	<div class="bottom" style="background:#009966"><span class="bottom_font xyd">最高可贷50万 | 最长可贷4年 | 可用于经营或消费</span></div></div>
        <div class="list_one list_first"><div class="top_line" style="background:#009966"></div><div class="top_con"><div class="title_list_div"><span class="size_big" style="color:#009966">厦门私借</span><span class="size_small" style="color:#009966"></span></div><div class="title_sub"  style="color:#009966">个人私借： 当天放款 </div>	<a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=6" otitle="厦门私借" otype="button" target="_blank"><div class="image" style="margin:5px 20px;"><img src="http://www.hytz.com/uploadfile/2015/0723/20150723101312653.png" /></div></a><div class="btn"><a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=6" otitle="厦门私借" otype="button" target="_blank" class="btn_a"  style="background:#009966">立即申请&gt;</a></div></div>	<div class="bottom" style="background:#009966"><span class="bottom_font xyd">最高可贷500万 | 最长可贷1年 | 可用于经营或消费</span></div></div>
        <div class="list_one list_left"><div class="top_line" style="background:#993300"></div><div class="top_con"><div class="title_list_div"><span class="size_big" style="color:#993300">车抵贷（押车）</span><span class="size_small" style="color:#993300"></span></div><div class="title_sub"  style="color:#993300">抵押车辆获取贷款</div>	<a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=7" otitle="车抵贷（押车）" otype="button" target="_blank"><div class="image" style="margin:5px 20px;"><img src="http://www.hytz.com/uploadfile/2015/0723/20150723100936320.png" /></div></a><div class="btn"><a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=7" otitle="车抵贷（押车）" otype="button" target="_blank" class="btn_a"  style="background:#993300">立即申请&gt;</a></div></div>	<div class="bottom" style="background:#993300"><span class="bottom_font xyd">最高可贷500万 | 最长可贷4年 | 可用于经营或消费</span></div></div>
        <div class="list_one list_left"><div class="top_line" style="background:#FF9900"></div><div class="top_con"><div class="title_list_div"><span class="size_big" style="color:#FF9900">保险保单贷款</span><span class="size_small" style="color:#FF9900"></span></div><div class="title_sub"  style="color:#FF9900">有保险保单就能贷款</div>	<a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=8" otitle="保险保单贷款" otype="button" target="_blank"><div class="image" style="margin:5px 20px;"><img src="http://www.hytz.com/uploadfile/2015/0718/20150718084718867.png" /></div></a><div class="btn"><a href="http://www.hytz.com/index.php?m=loan&c=index&a=product&id=8" otitle="保险保单贷款" otype="button" target="_blank" class="btn_a"  style="background:#FF9900">立即申请&gt;</a></div></div>	<div class="bottom" style="background:#FF9900"><span class="bottom_font xyd">最高50万 | 最长合同4年 | 保费30倍</span></div></div>
    </div>
</div>

<div class="contioner">
<div class="ui-box-white-bg mt20">
<div class="ui-box-title"><h3>贷款优势</h3></div>
<div class="p20 borrow-advantage-list text-center fn-clear">
    <table width="960" cellspacing="0" border="0" align="center">
        <tbody>
        <tr>
            <td><dl class="fn-left">          <dd><img alt="" src="http://www.hytz.com/statics/images/hy/pic1.png"></dd>          <dt>门槛 <span class="color-red-text">低</span></dt>          <dd>月收入4000元即可申请</dd>        </dl></td>
            <td><dl class="fn-left">          <dd><img alt="" src="http://www.hytz.com/statics/images/hy/pic2.png"></dd>          <dt>额度 <span class="color-red-text">大</span></dt>          <dd>最高借款额度达50万元</dd>        </dl></td>
            <td><dl class="fn-left">          <dd><img alt="" src="http://www.hytz.com/statics/images/hy/pic3.png"></dd>          <dt>放款 <span class="color-red-text">快</span></dt>          <dd>3个工作日内即可审核完成</dd>        </dl></td>
            <td><dl class="fn-left">          <dd><img alt="" src="http://www.hytz.com/statics/images/hy/pic4.png"></dd>          <dt>利息 <span class="color-red-text">低</span></dt>          <dd>月综合费率低至0.58%</dd>        </dl></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>

<div id="other_div">
    <div class="title_other_div">贷款业务</div>
    <div class="bor" style="width:310px;float:left;margin-right:20px;margin-top:10px;">
    	<table width="310" height="150" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td height="40" class="title" colspan="2"><a title="平安新一贷" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=25">平安新一贷</a></td>
            </tr>
            <tr>
                <td class="pic" rowspan="2"><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=25"><img width="116" height="100" alt="平安新一贷" src="http://www.hytz.com/uploadfile/2015/0609/20150609064756404.jpg"></a></td>
                <td valign="top" class="jj">平安新一贷是一款什么产品？新一贷是平安银行向拥有连续稳定工资收入的受薪人士或连续稳定经营收入的自...</td>
            </tr>
            <tr>
                <td valign="top"><a href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=25"><img width="98" height="23" border="0" src="http://www.hytz.com/statics/images/hy/ljxq.jpg"></a></td>
            </tr>
            </tbody></table>
    </div>
    <div class="bor" style="width:310px;float:left;margin-right:20px;margin-top:10px;">
    	<table width="310" height="150" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td height="40" class="title" colspan="2"><a title="个人小额消费贷款" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=9">个人小额消费贷款</a></td>
            </tr>
            <tr>
                <td class="pic" rowspan="2"><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=9"><img width="116" height="100" alt="个人小额消费贷款" src="http://www.hytz.com/uploadfile/2015/0423/20150423111413352.jpg"></a></td>
                <td valign="top" class="jj">应急现金？提高生活质量？个人进修？医疗急用？购物&hellip;&hellip;通过平安产险购买平安易贷险，即可凭保单助您轻...</td>
            </tr>
            <tr>
                <td valign="top"><a href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=9"><img width="98" height="23" border="0" src="http://www.hytz.com/statics/images/hy/ljxq.jpg"></a></td>
            </tr>
            </tbody></table>
    </div>
    <div class="bor" style="width:310px;float:left;margin-top:10px;">
    	<table width="310" height="150" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td height="40" class="title" colspan="2"><a title="房产抵押消费" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=7">房产抵押消费</a></td>
            </tr>
            <tr>
                <td class="pic" rowspan="2"><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=7"><img width="116" height="100" alt="房产抵押消费" src="http://www.hytz.com/uploadfile/2015/0423/20150423111228127.jpg"></a></td>
                <td valign="top" class="jj">平安银行房产抵押消费贷款，让房产变成提款机！高金额金额最高可达房产价值的75%。用途广装修、购铺、买...</td>
            </tr>
            <tr>
                <td valign="top"><a href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=7"><img width="98" height="23" border="0" src="http://www.hytz.com/statics/images/hy/ljxq.jpg"></a></td>
            </tr>
            </tbody></table>
    </div>
    <div class="bor" style="width:310px;float:left;margin-right:20px;margin-top:10px;">
    	<table width="310" height="150" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td height="40" class="title" colspan="2"><a title="二手房贷款" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=6">二手房贷款</a></td>
            </tr>
            <tr>
                <td class="pic" rowspan="2"><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=6"><img width="116" height="100" alt="二手房贷款" src="http://www.hytz.com/uploadfile/2015/0423/20150423111106117.jpg"></a></td>
                <td valign="top" class="jj">平安银行二手房贷款，圆您安居梦想！利息省超低利率，实惠划算。金额高贷款成数高至7成，轻松购房。期限...</td>
            </tr>
            <tr>
                <td valign="top"><a href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=6"><img width="98" height="23" border="0" src="http://www.hytz.com/statics/images/hy/ljxq.jpg"></a></td>
            </tr>
            </tbody></table>
    </div>
    <div class="bor" style="width:310px;float:left;margin-right:20px;margin-top:10px;">
    	<table width="310" height="150" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td height="40" class="title" colspan="2"><a title="一手房贷款" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=5">一手房贷款</a></td>
            </tr>
            <tr>
                <td class="pic" rowspan="2"><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=5"><img width="116" height="100" alt="一手房贷款" src="http://www.hytz.com/uploadfile/2015/0423/20150423110931144.jpg"></a></td>
                <td valign="top" class="jj">平安银行一手房贷款，圆您安居梦想！利息省超低利率，实惠划算。金额高贷款成数高至7成，轻松购房。期限...</td>
            </tr>
            <tr>
                <td valign="top"><a href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=5"><img width="98" height="23" border="0" src="http://www.hytz.com/statics/images/hy/ljxq.jpg"></a></td>
            </tr>
            </tbody></table>
    </div>
    <div class="bor" style="width:310px;float:left;margin-top:10px;">
    	<table width="310" height="150" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td height="40" class="title" colspan="2"><a title="汽车抵押贷款" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=4">汽车抵押贷款</a></td>
            </tr>
            <tr>
                <td class="pic" rowspan="2"><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=4"><img width="116" height="100" alt="汽车抵押贷款" src="http://www.hytz.com/uploadfile/2015/0423/20150423110819623.jpg"></a></td>
                <td valign="top" class="jj">产品概述抵押车辆获取贷款，用于消费和经营，采用等额本息或等额本金的还款方式。产品特色▪ 车辆照开...</td>
            </tr>
            <tr>
                <td valign="top"><a href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=13&id=4"><img width="98" height="23" border="0" src="http://www.hytz.com/statics/images/hy/ljxq.jpg"></a></td>
            </tr>
            </tbody></table>
    </div>
    	            
    </div>
<div style="clear:both;"></div>
<div class="contioner_bottom">
	 <div id="bottom_tem"> 
	 	<div class="bottom_one right_border"> 
	 		<div class="title_bottom title_image_1">贷款常识</div> 
	 		<div class="list">
            	<ul>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=9&id=14" otitle="赚钱之道：用银行的钱生钱之7招锦囊" otype="button">• 赚钱之道：用银行的钱生钱之7招锦囊</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=9&id=13" otitle="提高审批通过率 可在贷款申请表上觅良机" otype="button">• 提高审批通过率 可在贷款申请表上觅良机</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=9&id=12" otitle="企业申请银行贷款 将面临3种背景调查" otype="button">• 企业申请银行贷款 将面临3种背景调查</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=9&id=11" otitle="追寻大额无抵押贷款你应把握3大技巧" otype="button">• 追寻大额无抵押贷款你应把握3大技巧</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=9&id=10" otitle="无抵押贷款：3类人易斩过银行审批关" otype="button">• 无抵押贷款：3类人易斩过银行审批关</a></li>
                </ul>
            </div> 
  			<div class="more"><a href="http://www.hytz.com/index.php?m=content&c=index&a=lists&catid=9" target="_blank">更多&gt;&gt;</a></div> 
      	</div>
        
        <div class="bottom_one right_border"> 
	 		<div class="title_bottom title_image_1">贷款案例</div> 
	 		<div class="list">
            	<ul>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=11&id=19" otitle="【案例分享】汽车抵押贷款为新婚夫妇提供婚庆资金" otype="button">• 【案例分享】汽车抵押贷款为新婚夫妇提</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=11&id=18" otitle="【案例分享】汽车抵押贷款为女士个人消费提供帮助" otype="button">• 【案例分享】汽车抵押贷款为女士个人消</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=11&id=17" otitle="【案例分享】汽车抵押贷款可以提供原材料进购资金" otype="button">• 【案例分享】汽车抵押贷款可以提供原材</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=11&id=16" otitle="【案例分享】平安银行车抵贷让您圆梦" otype="button">• 【案例分享】平安银行车抵贷让您圆梦</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=11&id=15" otitle="【案例分享】平安车抵贷帮您解决淘宝卖家快递费" otype="button">• 【案例分享】平安车抵贷帮您解决淘宝卖</a></li>
                </ul>
            </div> 
  			<div class="more"><a href="http://www.hytz.com/index.php?m=content&c=index&a=lists&catid=10" target="_blank">更多&gt;&gt;</a></div> 
      	</div>
        
        <div class="bottom_one none_border"> 
	 		<div class="title_bottom title_image_1">常见问题</div> 
	 		<div class="list">
            	<ul>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=12&id=20" otitle="我的情况能否申请创业贴息贷款？" otype="button">• 我的情况能否申请创业贴息贷款？</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=12&id=21" otitle="想要开店，是否能申请贷款" otype="button">• 想要开店，是否能申请贷款</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=12&id=22" otitle="什么是二次抵押?" otype="button">• 什么是二次抵押?</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=12&id=23" otitle="所有的二手房都能办抵押贷款吗？" otype="button">• 所有的二手房都能办抵押贷款吗？</a></li>
                    <li><a target="_blank" href="http://www.hytz.com/index.php?m=content&c=index&a=show&catid=12&id=24" otitle="个人信息遭泄露该如何维权？" otype="button">• 个人信息遭泄露该如何维权？</a></li>
                </ul>
            </div> 
  			<div class="more"><a href="http://www.hytz.com/index.php?m=content&c=index&a=lists&catid=11" target="_blank">更多&gt;&gt;</a></div> 
      	</div>
    </div>
</div>

{% endblock %}