<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <title>宏圆金融_宏圆投资官网</title>
        <meta name="keywords" content="厦门贷款公司,厦门贷款,厦门公积金贷款">
        <meta name="description" content="厦门宏圆投资管理有限公司 —银行指定合作渠道，福建权威专业贷款服务机构，快速办理厦门、福州、漳州、龙岩等地区各大银行无抵押信用贷款、抵押贷款、小额贷款、企业贷款、车位贷款。">

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>

        {%  endblock %}
        {% block head_extend%}
        <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body style="width: 100%;height: 100%">
        {% block body %}
        {% block header %}
        {% include 'util/header.html' %}
        {% endblock %}
        {% block context %}
        {% endblock %}
        {% block end %}
        {% include 'util/end.html' %}
        {% endblock %}
        <script type="text/javascript" src="/static/js/jquery.kinMaxShow-1.0.min.js"></script>
        <script type="text/javascript" src="/static/js/index.js" ></script>
        {% endblock %}
    </body>
</html>
