<table width="100%" cellspacing="0" border="0" align="center" style="margin-top:20px;">
  <tbody>
  <tr>
    <td style="border-top:solid 2px #FF6600; padding-top:14px;padding-bottom:14px;">
        <table width="900" cellspacing="0" border="0" align="center">
            <tbody>
              <tr>
                <td width="709" style="line-height:28px; font-size:12px;">
                    宏圆投资 —银行指定合作渠道，福建权威专业贷款服务机构。 <br>
                    快速办理厦门、福州各大银行、抵押贷、信用贷、企业贷、车位贷。 <br>
                    版权所有 © 宏圆投资 HYTZ.COM 闽ICP备150228855  <br>
                    <a href="/gm">后台管理</a>  客服邮箱 网站制作与维护：<a href="">JAY</a>
                </td>
                <td width="70"><a href="#"><img width="141" height="56" border="0" src="/static/images/util/anquan.jpg"></a></td>
              </tr>
            </tbody>
        </table>
    </td>
  </tr>
  </tbody>
</table>
<div class="footer">
    <p class="info">
        {% for about_nav_dic in AboutNavBarLs %}
            <a href="{{about_nav_dic.url}}">{{about_nav_dic.des}}</a> |
        {% endfor %}
    <br />
Powered by <strong><a href="#" target="_blank">宏圆金融_宏圆投资官网</a></strong> &copy; 2015 <img src="/static/images/util/copyright.gif"/></p>
</div>
