<table width="100%" border="0" cellspacing="0" class="top">
  <tr>
    <td height="30"><table width="980" border="0" align="center" cellspacing="0">
      <tr>
        <td align="left"> <a href="/login">信贷经理登录</a> | <a href="register" target="_blank">信贷经理注册</a> </td>
        <td align="right"><a href="http://mail.163.com/">宏圆邮箱</a> | <a onclick="window.external.addFavorite(location.href,document.title)" href="#ecms">加入收藏</a> | <a href="javascript:void(0)" onclick="SetHome(this,window.location)">设为首页</a> | <a href="/">网站首页</a></td>
      </tr>
    </table></td>
  </tr>
</table><table width="980" cellspacing="0" border="0" align="center">
  <tbody><tr>
    <td height="90" align="left"><a href="/"><img width="420" height="80" border="0" src="/static/images/util/logo1.jpg"></a></td>
    <td align="right"><span style="font-size:16px;color:#777;">服务热线：</span><span style="font-size:24px;color:#ff8712;font-weight:bold;">15280087277</span></td>
  </tr>
</tbody>
</table>
<table width="100%" cellspacing="0" border="0" class="nav">
  <tbody><tr>
    <td><div class="nav_global">
        <ul class="nav-site">
            {% for index_nav_dic in IndexNavBarLs %}
                {% if CurIndexNavBarUrl == index_nav_dic.url %}
                    <li class="curr"><a href="{{index_nav_dic.url}}"><span>{{index_nav_dic.des}}</span></a></li>
                {% else %}
                    <li ><a href="{{index_nav_dic.url}}"><span>{{index_nav_dic.des}}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div></td>
  </tr></tbody>
</table>