{% extends 'util/base.html' %}

{% block context %}

<div id="kinMaxShow">
    {% for loan_ani_dic in LoanAniLs %}
    <div>
        <a href="{{loan_ani_dic.url}}"  title="{{loan_ani_dic.title}}"><img src="{{loan_ani_dic.img}}"  /></a>
    </div>
    {% endfor %}
</div>

<div class="contioner">
    <div id="list_div">
        {% for loan_product_dic in LoanProductLs %}
            {% include "index/loan_product.html" %}
        {% endfor %}
    </div>
</div>

<div class="contioner">
<div class="ui-box-white-bg mt20">
<div class="ui-box-title"><h3>贷款优势</h3></div>
<div class="p20 borrow-advantage-list text-center fn-clear">
    <table width="960" cellspacing="0" border="0" align="center">
        <tbody>
        <tr>
            {% for loan_adv_dic in LoanAdvLs %}
                {% include "index/loan_adv.html" %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>

<div id="other_div">
    <div class="title_other_div">贷款业务</div>
        {% for loan_bisiness_dic in LoanBusinessLs %}
            {% include "index/loan_bisiness.html" %}
        {% endfor %}
    </div>
</div>

<div style="clear:both;"></div>
<div class="contioner_bottom">
	 <div id="bottom_tem"> 
	 	<div class="bottom_one right_border"> 
	 		<div class="title_bottom title_image_1">贷款常识</div> 
	 		<div class="list">
            	<ul>
                    {% for loan_knowledge_dic in LoanKnowledgeLs %}
                        <li><a target="_blank" href="{{loan_knowledge_dic.url}}">{{loan_knowledge_dic.text}}</a></li>
                    {% endfor %}
                </ul>
            </div> 
  			<div class="more"><a href="{{LoanKnowledgeLs[0].more_url}}" target="_blank">更多&gt;&gt;</a></div>
      	</div>
        
        <div class="bottom_one right_border"> 
	 		<div class="title_bottom title_image_2">贷款案例</div>
	 		<div class="list">
            	<ul>
                    {% for loan_case_dic in LoanCaseLs %}
                        <li><a target="_blank" href="{{loan_case_dic.url}}">{{loan_case_dic.text}}</a></li>
                    {% endfor %}
                </ul>
            </div> 
  			<div class="more"><a href="{{LoanCaseLs[0].more_url}}" target="_blank">更多&gt;&gt;</a></div>
      	</div>
        
        <div class="bottom_one none_border"> 
	 		<div class="title_bottom title_image_3">常见问题</div>
	 		<div class="list">
            	<ul>
                    {% for loan_problem_dic in LoanProblemLs %}
                        <li><a target="_blank" href="{{loan_problem_dic.url}}">{{loan_problem_dic.text}}</a></li>
                    {% endfor %}
                </ul>
            </div> 
  			<div class="more"><a href="{{LoanProblemLs[0].more_url}}" target="_blank">更多&gt;&gt;</a></div>
      	</div>
    </div>
</div>

<div id="service_div">
    <div class="title_service_div">合作机构</div>
    <div class="bor" style="height:90px;">
        <ul style="width:960px;hegith:auto;">
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://bank.pingan.com/" title="平安银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/erji/hao123/webroot/resource/erji/public/images/pinganyinhang_xin.jpg" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cmbc.com.cn/" title="中国民生银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95568.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cebbank.com/" title="中国光大银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95595.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cgbchina.com.cn/" title="广发银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95508.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cib.com.cn/" title="兴业银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95561.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://bank.ecitic.com/" title="中兴银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95558.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;float:left;display:block;"><a href="http://www.psbc.com/" title="中国邮政储蓄银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95580.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.spdb.com.cn/" title="浦发银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95528.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.cmbchina.com/" title="招商银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95555.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.abchina.com/cn/" title="中国农业银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95599.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.bankcomm.com/" title="交通银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95559.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.boc.cn/" title="中国银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95566.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;margin-right:15px;float:left;display:block;"><a href="http://www.ccb.com/" title="中国建设银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95533.png" width="120" height="40" /></a></li>
            <li style="width:120px;height:40px;margin-bottom:10px;float:left;display:block;"><a href="http://www.hxb.com.cn/" title="华夏银行" target="_blank" style="width:120px;height:40px;"><img src="http://www.hao123.com/resource/erji/public/images/erji/95577.png" width="120" height="40" /></a></li>
        </ul>
    </div>
</div>

{% endblock %}