{% extends 'about/about_model.html' %}

{% block about_content%}
 <td valign="top">
     <div class="about_col-auto">
        <img src="/static/images/about/about_ad.png" width="720" height="171" />
        <h1 class="title">关于宏圆</h1>
        <div class="content">
            <span>宏圆投资创建于2013年，总部位于福建厦门。成立以来，宏圆致力于成为福建金融、财富管理及互联网金融旗舰企业，坚持以模式创新、技术创新和理念创新服务福建省高成长性人群和大众富裕阶层。目前已经在福建省厦门、福州、漳州，泉州、三明等地建立起强大的分支机构，通过宏圆网站和其他金融创新科技，为客户提供全方位、个性化的金融贷款咨询与财富管理服务。</span>
            <br/>
            <br/>
            <span>宏圆投资致力于为福建省高成长性人群提供方便快捷的金融咨询等相关服务，让更多人建立、释放和创造信用，并用传递信用，积极建设社会信用体系和诚信社会。</span>
            <br/>
            <br/>
            <span>作为福建省知名的小微借款咨询服务专业机构，宏圆投资通过遍布福建厦门、福州、漳州、泉州、三明 等地的分支机构，致力于为城市及农村高成长性人群，即小微企业主、工薪阶层、大学生和农户，提供快捷方便的金融贷款咨询服务。</span>
            <br/>
            <br/>
            <span>宏圆投资为个人客户推荐广泛的贷款资金来源渠道，进行合理全面的财务规划，量身设计最优的贷借款解决方案，同时为客户和合作伙伴提供行业研究、创业咨询、培训、渠道拓展、融资等一系列增值服务，为他们的发展成长提供助力。</span>
        </div>
    </div>
 </td>
{% endblock %}