{% extends 'about/about_model.html' %}

{% block about_content%}
<td valign="top">
    <div class="about_col-auto">
        <img src="/static/images/about/about_ad.png" width="720" height="171" />
        <h1 class="title">联系我们</h1>
        <ul class="content">
            <li><span>欢迎关注宏圆投资 <a href="/">点击进入宏圆网站</a></span></li>
            <li><span>融资热线:</span></li>
            <li><span>电话:152 8008 7277 &nbsp;152 8008 7277 微信:958882886（王经理）</span></li>
            <li><span>电话:182 0598 7522 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 微信:875158 (余经理）</span></li>
            <li><span>邮箱:<a href="http://mail.163.com/">zhanchenjin.2008@163.com</a></span></li>
            <li><span>福建省厦门市思明区体育路116号蓝湾国际 （360001）</span></li>
        </ul>
    </div>
</td>

{% endblock %}
