{% extends 'about/about_model.html' %}

{% block about_content%}

<td valign="top">
    <div class="about_col-auto">
    	<img src="/static/img/about/about_ad.png" width="720" height="171" />
    	<h1 class="title">商务合作</h1>
        <ul class="content">
            <li><span>宏圆投资是银行指定合作渠道，欢迎当地各中介机构与我们深度合作，资源共享，共同开拓更加广泛的贷款资金来源渠道，为客户进行更合理全面的财务规划，量身设计最优的贷借款解决方案，同时为客户和合作伙伴提供行业研究、创业咨询、培训、渠道拓展、融资等一系列增值服务，为他们的发展成长提供助力。</span></li>
            <li><span>有合作代理贷款产品意向，欢迎与我们保持联系。</span></li>
            <br/>
            <li><span>合作热线:</span></li>
            <li><span>电话:152 8008 7277 &nbsp;微信:958882886（王经理）</span></li>
        </ul>
    </div>
</td>


{% endblock %}