#kinMaxShow .kinMaxShow{
  height: 330px;
  /*//设置焦点图高度(单位:像素) 必须设置 否则使用默认值 500*/
}

#kinMaxShow .button{
  /*//设置按钮上面不显示数字索引(默认也是不显示索引)*/
  showIndex:false;
}

#kinMaxShow .button.normal{
  background-image: url(/static/img/index/button.png);
  background-size: 100% 100%;
  marginRight:8px;
  border:0;
  right:44%;
  bottom:20px;
}

#kinMaxShow .button.focus{
  background-image: url(/static/img/index/button.png);
  background-size: 100% 100%;
  border:0;
}





